.service-image {
  padding: 80px 0;
  transition: 0.3s all linear;
}
.service-image.dark-mode {
  background-color: black;
}
.service-image-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}
.service-image-item {
  height: 500px;
  max-width: 350px;
  object-fit: cover;
}
@media screen and (min-width: 2000px) {
  .service-image-item {
    height: 750px;
    max-width: 420px;
  }
}
@media screen and (max-width: 1439px) {
  .service-image-list {
    grid-template-columns: repeat(2, 2fr);
    grid-row-gap: 100px;
  }
  .service-image-item {
    margin: 0 auto;
  }
}
@media screen and (max-width: 1279px) {
  .service-image-item {
    height: 350px;
  }
  .service-image-list {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
}
@media screen and (max-width: 1023px) {
  .service-image-list {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
  .service-image-item {
    height: 400px;
    width: 300px;
  }
}
@media screen and (max-width: 768px) {
  .service-image-list {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  .service-image-item {
    height: 500px;
    width: 100%;
    padding-bottom: 30px;
  }
}
