.blog-detail-wrap {
  padding: 20px 0;
}
.blog-detail-img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}
.blog-detail-info {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 200px;
  padding: 30px 0 100px 0;
}
.blog-detail-title {
  padding-top: 50px;
  position: sticky;
  top: 0px;
  overflow: hidden;
}
.blog-detail-title-item {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  font-weight: 300;
}
.blog-detail-title-item.active {
  font-weight: 400;
}
.blog-detail-content {
  padding-top: 50px;
  max-width: 800px;
}
.blog-detail-content-img {
  width: 700px;
  height: 400px;
  display: inline-block;
  position: relative;
  left: 47%;
  transform: translateX(-50%);
  padding-bottom: 20px;
  object-fit: cover;
}
.blog-detail-content-heading {
  font-size: 56px;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 18px;
}
.blog-detail-content-desc {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  font-weight: 300;
}
@media screen and (min-width: 2000px) {
  .blog-detail-img {
    height: 750px;
  }
  .blog-detail-title-item {
    font-size: 32px;
  }
  .blog-detail-content-heading {
    font-size: 72px;
  }
  .blog-detail-content-img {
    width: 800px;
    height: 500px;
  }
  .blog-detail-content-desc {
    font-size: 26px;
  }
}
@media screen and (max-width: 1279px) {
  .blog-detail-img {
    height: 450px;
  }
  .blog-detail-info {
    display: block;
  }
  .blog-detail-title {
    display: none;
  }
  .blog-detail-content-img {
    left: 50%;
  }
  .blog-detail-content {
    max-width: 100%;
  }
}
@media screen and (max-width: 1023px) {
  .blog-detail-img {
    height: 360px;
  }
  .blog-detail-content-heading {
    font-size: 48px;
  }
  .blog-detail-content-img {
    width: 100%;
    height: 360px;
  }
}
@media screen and (max-width: 767px) {
  .blog-detail-img {
    height: 280px;
  }
  .blog-detail-content-heading {
    font-size: 32px;
  }
  .blog-detail-content-img {
    height: 260px;
  }
  .blog-detail-content-desc {
    font-size: 16px;
  }
}
