.feedback {
  padding: 50px 0;
}
.feedback-layout {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 100px;
  padding-bottom: 50px;
}
.feedback-heading {
  width: calc(20%);
  font-size: 16px;
  text-transform: uppercase;
}
.feedback-wrapper {
  width: calc(80%);
  overflow: hidden;
  position: relative;
}
.feedback-info {
  display: flex;
  position: relative;
  transition: transform 0.25s linear;
  height: 100%;
}
.feedback-content {
  font-size: 56px;
  height: 380px;
}
.feedback-client {
  height: 100%;
  width: 100%;
  flex: 1 0 100%;
  user-select: none;
}
.feedback-user {
  display: flex;
  align-items: center;
  gap: 20px;
}
.feedback-user-avatar {
  max-width: 80px;
  border-radius: 50%;
}
.feedback-user-name {
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
  font-weight: 400;
}
.feedback-user-position {
  color: #acb1b6;
  line-height: 1.2;
}
.feedback-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 50px;
  border-top: 1px solid #acb1b6;
}
.feedback-job {
  color: #acb1b6;
  line-height: 1.2;
  margin-right: 200px;
}
.feedback-nextprev {
  display: flex;
  gap: 30px;
  position: absolute;
  right: 10px;
  bottom: -20px;
}
.feedback-nextprev i {
  font-size: 32px;
  color: #acb1b6;
  line-height: 1.2;
  padding: 20px;
  cursor: pointer;
}
.feedback-next {
  transform: translateX(100%);
}

.feedback-prev {
  transform: translateX(-100%);
}
.feedback-current {
  transform: translateX(0);
}
.feedback-container {
  display: flex;
  will-change: transform;
}
@media screen and (min-width: 2000px) {
  .feedback-heading {
    font-size: 24px;
  }
  .feedback-content {
    font-size: 72px;
    height: 450px;
  }
  .feedback-user-name {
    font-size: 24px;
  }
}
@media screen and (max-width: 1279px) {
  .feedback-layout {
    gap: 60px;
    padding-bottom: 20px;
  }
  .feedback-heading {
    width: 25%;
  }
  .feedback-wrapper {
    width: 75%;
  }
  .feedback-content {
    font-size: 42px;
    height: 350px;
  }
  .feedback-bottom {
    padding-top: 30px;
  }
  .feedback-user-avatar {
    max-width: 70px;
  }
  .feedback-user-name {
    font-size: 18px;
  }
  .feedback-user-position {
    font-size: 16px;
  }
}
@media screen and (max-width: 1023px) {
  .feedback {
    padding: 30px 0;
  }
  .feedback-layout {
    display: block;
    padding-bottom: 20px;
  }
  .feedback-heading {
    width: 100%;
    padding-bottom: 20px;
  }
  .feedback-wrapper {
    width: 100%;
  }
  .feedback-content {
    font-size: 36px;
    height: 250px;
  }
  .feedback-bottom {
    padding-top: 30px;
  }
}
@media screen and (max-width: 767px) {
  .feedback-content {
    font-size: 24px;
    height: 250px;
  }
  .feedback-bottom {
    padding-top: 30px;
  }
  .feedback-nextprev {
    gap: 10px;
    right: 0;
  }
  .feedback-nextprev i {
    font-size: 18px;
    padding: 16px;
  }
  .feedback-user-avatar {
    max-width: 50px;
  }
  .feedback-user-position {
    font-size: 12px;
  }
  .feedback-user-name {
    font-size: 14px;
  }
  .feedback-user {
    gap: 14px;
  }
  .feedback-job {
    margin-right: 90px;
    font-size: 12px;
  }
}
